<div class="p-4 flex flex-col gap-3">
  <!-- Header Section -->
  <header class="flex justify-between sm:hidden">
    <a
      [routerLink]="['search']"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"
    >
      <i class="fa-solid fa-magnifying-glass"></i>
      Search
    </a>
    <h1 class="text-3xl font-bold">Menu of "A la Carta"</h1>
    <button
      type="button"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"
      (click)="logout()"
    >
      <i class="fa-solid fa-right-from-bracket"></i>
      Logout
    </button>
  </header>
  <!-- Responsive Header -->
  <header class="hidden sm:block">
    <h1 class="text-3xl font-bold text-center">Menu of "A la Carta"</h1>
    <div class="mt-3 flex justify-center gap-2">
      <a
        [routerLink]="['search']"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
        Search
      </a>
      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded"
        (click)="logout()"
      >
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </button>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
